<h1>Listing annotations</h1>

<table>
  <tr>
    <th>Gsm</th>
    <th>Tissue type</th>
    <th>Disease type</th>
    <th>Cell type</th>
    <th>Disease location</th>
    <th>Developmental stage</th>
    <th>Sex</th>
    <th>Treatment</th>
    <th>Sample preparation</th>
    <th>Genotype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @annotations.each do |annotation| %>
  <tr>
    <td><%= annotation.gsm_id %></td>
    <td><%= annotation.tissue_type %></td>
    <td><%= annotation.disease_type %></td>
    <td><%= annotation.cell_type %></td>
    <td><%= annotation.disease_location %></td>
    <td><%= annotation.developmental_stage %></td>
    <td><%= annotation.sex %></td>
    <td><%= annotation.treatment %></td>
    <td><%= annotation.sample_preparation %></td>
    <td><%= annotation.genotype %></td>
    <td><%= link_to 'Show', annotation %></td>
    <td><%= link_to 'Edit', edit_annotation_path(annotation) %></td>
    <td><%= link_to 'Destroy', annotation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Annotation', new_annotation_path %>
