<p id="notice"><%= notice %></p>

<p>
  <b>Gsm:</b>
  <%= @annotation.gsm_id %>
</p>

<p>
  <b>Tissue type:</b>
  <%= @annotation.tissue_type %>
</p>

<p>
  <b>Disease type:</b>
  <%= @annotation.disease_type %>
</p>

<p>
  <b>Cell type:</b>
  <%= @annotation.cell_type %>
</p>

<p>
  <b>Disease location:</b>
  <%= @annotation.disease_location %>
</p>

<p>
  <b>Developmental stage:</b>
  <%= @annotation.developmental_stage %>
</p>

<p>
  <b>Sex:</b>
  <%= @annotation.sex %>
</p>

<p>
  <b>Treatment:</b>
  <%= @annotation.treatment %>
</p>

<p>
  <b>Sample preparation:</b>
  <%= @annotation.sample_preparation %>
</p>

<p>
  <b>Genotype:</b>
  <%= @annotation.genotype %>
</p>


<%= link_to 'Edit', edit_annotation_path(@annotation) %> |
<%= link_to 'Back', annotations_path %>
